.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100vw;
  min-height: 920px;
  height: fit-content;
  margin-top: 250px;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  margin: 0px auto auto auto;
  place-self: end;
}
.engagement {
  color: #38b6ff;
  font-size: 0.9rem;
  margin-top: 10px;
}
.blockMain1 {
  display: flex;
  flex-direction: column;
  margin-left: 5vw;
  overflow-x: hidden;
}
.title {
  color: #38b6ff;
  font-size: 2rem;
  font-weight: bold;
}
.subTitle {
  color: #000;
  font-weight: 500;
  font-size: 1.1rem;
  margin-top: 20px;
}
.offreContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: relative;
  margin-top: 50px;
  padding: 20px 60px;
}
.buttonReserver {
  padding: 10px 15px;
  width: fit-content;
  color: #fff;
  font-weight: 600;
  background-color: #38b6ff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}
.offreContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #ffde59 0%, #ff914d 100%);
  opacity: 0.7;
  z-index: -1;
  border-radius: 20px;
}
.offreTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #38b6ff;
}
.offreDesc {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 5px;
  color: #000;
}
.dote {
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 20px;
  min-width: 5px;
}
.titleModal {
  color: #38b6ff;
  font-size: 1.5rem;
  font-weight: 400;
}
.offreName {
  color: #ff914d;
  font-weight: bold;
}

.inputField {
  border: solid 1px #38b6ff;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  color: #000;
  padding-left: 5px;
}
.block1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  margin: 30px 0px;
}
.label {
  color: #00214d;
  font-size: 0.8rem;
  font-weight: 600;
}
.bouton {
  color: #fff;
  background-color: #38b6ff;
  padding: 5px 20px;
  width: fit-content;
  height: fit-content;
  align-self: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.8s ease-in;
}

@media (max-width: 920px) {
  .container {
    grid-template-columns: 100%;
    margin-top: 150px;
  }
  .imageContainer {
    display:none
  }
  .title {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .offreContainer {
    padding: 20px;
  }
}
