.container {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw;
    height: fit-content;
    min-height: 920px;
    margin: 20vh 0px 100px 0px;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 750px;
    place-self: center;
}

.textContrainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    place-self: center;
}

.subTitle {
    color: #00214d;
    font-size: 1rem;
    margin-top: 30px;
    font-weight: 500;
}

.button{
    padding: 10px 15px;
    width:fit-content;
    color:#fff;
    font-weight: 600;
    background-color: #38b6ff;
    border-radius: 5px;
    cursor: pointer;
    margin-top:40px
  }

.title {
    color: #38b6ff;
    font-size: 1.7rem;
    font-weight: bold;
}

.detailBlock::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#ffde59 0%, #ff914d 100%);
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px;
  }

.detailBlock {
    width: 100%;
    max-width: 850px;
    height: fit-content;
    margin-top: 40px;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: 60px auto;
}
.detailTitle{
    font-size: 1.2rem;
    color:#38b6ff;
    margin-bottom: 15px;
}
.detailSubTitle{
    font-size: 1rem;
    color:#38b6ff;
    margin-bottom: 5px;
}
.detailDescription{
    color:#000;
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight:400;
}
.dote{
    background-color:#00214d;
    width:5px;
    height:5px;
    border-radius: 50%;
    margin: 0px 10px 5px 20px
}
.titleModal{
    color:#38b6ff;
    font-size: 1.5rem;
    font-weight: 400;
}
.offreName {
  color: #ff914d;
  font-weight: bold;
}
.inputField{
    border: solid 1px #38b6ff;
    height:30px;
    width:100%;
    border-radius:5px;
    color:#000;
    padding-left: 5px;
}
.block1{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:17px;
    margin: 30px 0px;
}
.label{
    color:#00214d;
    font-size: 0.8rem;
    font-weight: 600;
}
.bouton{
    color:#fff;
    background-color: #38b6ff;
    padding: 5px 20px;
    width:fit-content;
    height: fit-content;
    align-self: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.8s ease-in;
}

@media (max-width:920px){
    .container {
        grid-template-columns: 100%;
    }
    .title {
        font-size: 1.5rem;
    }
    .imageContainer {
       display:none
    }
    .dote{
        margin: 0px 10px 5px 10px
    }
    .subTitle {
        font-size: 0.9rem;
    }
}