.container{
   display: flex;
   flex-direction: column; 
   align-items: center;
   place-self: center;
   width:90vw;
   max-width: 1920px;
   place-self: center;
   height: fit-content;
   margin:150px 0px;
   padding: 0;
}
.title{
    color:#38b6ff;
    font-size: 2.7rem;

}
.subTitle{
    color:#00214d;
    font-size: 1.1rem;
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
}
.cardContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100%;
    background-color: #f8f5f1;
    margin-top: 10px;
    position:relative;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#ffde59 0%, #ff914d 100%);
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px 20px 0px 0px;
  }

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    max-width: 400px;
    margin: 100px auto auto auto;
    padding: 20px;
    place-self:center;
    position: relative;
    z-index: 1;
    height:140px;
    
}
.bodyCard{
    display: flex;
    flex-direction: column;
    width:90%;
    max-width: 400px;
    height:fit-content;
    min-height: 480px;
    background-color: #fff;
    margin:auto auto 50px auto;
    place-self: center;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 30px 30px 30px;
}

.label{
    color:#00214d;
    font-size: 1.1rem;
    font-weight: 450;
    text-transform: uppercase;
}

.offre{
    color:#fff;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 2px;
}

.description{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
}

.price{
    color:#00214d;
    font-size: 2rem;
    place-self: center;
    margin:auto;
    font-weight: 500;
}
.info{
    color:#00214d;
    font-size: 0.8rem;
    margin:30px 0px;
    font-weight: 600;
    text-align: center;
}
.button{
    padding: 10px 15px;
    place-self: center;
    color:#fff;
    font-weight: 600;
    background-color: #38b6ff;
    border-radius: 5px;
    cursor: pointer;
}
.titleModal{
    color:#38b6ff;
    font-size: 1.5rem;
    font-weight: bold;
}

.inputField{
    border: solid 1px #38b6ff;
    height:30px;
    width:100%;
    border-radius:5px;
    color:#000;
    padding-left: 5px;
}
.block1{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:17px;
    margin: 30px 0px;
}
.label{
    color:#00214d;
    font-size: 0.8rem;
    font-weight: 600;
}
.bouton{
    color:#fff;
    background-color: #38b6ff;
    padding: 5px 20px;
    width:fit-content;
    height: fit-content;
    align-self: center;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 5px;
    cursor:pointer;
    transition: all 0.8s ease-in;
}

@media (max-width:920px){
    .container{
        margin:100px 0px;
     }
     .title{
        font-size: 2rem;
    }
    .subTitle{
        font-size: 1rem;
        margin-top: 20px;
    }
    .cardContainer{
        grid-template-columns: 100%;
    }
    .header{
        margin: 50px auto auto auto;
    }
    .bodyCard{
        padding: 10px 20px 30px 20px;
    }
    .cardContainer{
        margin-top: 30px;
    }
}