.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:100vw;
    height:800px;
    margin-top: 100px;
    max-width: 1920px;
   place-self: center;
   margin:auto;

}
.imageContainer{
    position:relative;
    width:100%;
    height:100%;
    max-width: 700px;
    place-self: center;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%
}

.dote{
    width:7px;
    height: 7px;
    border-radius:50%;
    background-color: #00214d ;
    margin-right: 30px;
}
  
  .service::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(56, 182, 255, 0.5);
    opacity: 0.7;
    z-index: -1;
    cursor: pointer;
  }

.service{
    display: flex;
    flex-direction: column;
    width:90%;
    max-width: 700px;
    margin-top: 30px;
    padding: 20px;
    place-self:center;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: all 0.8s ease-in;
}
.title{
    color:#00214d;
    font-size: 1.4rem;
    font-weight: bold;
}
.description{
    color:#000;
    font-size: 0.9rem;
    margin-top: 15px;
    font-weight: 400;
}
.service:hover{
    transform: scale(1.05);
}

@media  (max-width:920px){
    .container{
        grid-template-columns: 100%;
        height: fit-content;
    }
    .imageContainer{
        width:300px;
        height:300px;
        margin: 50px 0px;
    }
    .dote{
        margin-right: 15px;
    }
    .title{
        font-size: 1.3rem;
    }
}