.container {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100vw;
  height: fit-content;
  min-height: 920px;
  margin: 100px 0px;
}
.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 650px;
  place-self: center;
}
.textContrainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 100px auto;
  place-self: center;
}
.title {
  color: #38b6ff;
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.subTitle {
  color: #38b6ff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.priceTitle {
  color: #00214d;
  font-size: 1rem;
  margin-bottom: 40px;
  font-weight: bold;
}
.button {
  padding: 10px 15px;
  width: fit-content;
  color: #fff;
  font-weight: 600;
  background-color: #38b6ff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 40px;
}
.description {
  color: #00214d;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
}
.dote {
  width: 5px;
  height: 5px;
  background-color: #38b6ff;
  border-radius: 50%;
  margin-right: 20px;
  min-width: 5px;
}
.titleModal {
  color: #38b6ff;
  font-size: 1.5rem;
  font-weight: 400;
}
.offreName {
  color: #ff914d;
  font-weight: bold;
}

.inputField {
  border: solid 1px #38b6ff;
  height: 30px;
  width: 100%;
  border-radius: 5px;
  color: #000;
  padding-left: 5px;
}
.block1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  margin: 30px 0px;
}
.label {
  color: #00214d;
  font-size: 0.8rem;
  font-weight: 600;
}
.bouton {
  color: #fff;
  background-color: #38b6ff;
  padding: 5px 20px;
  width: fit-content;
  height: fit-content;
  align-self: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.8s ease-in;
}

@media (max-width: 920px) {
  .container {
    grid-template-columns: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .subTitle {
    font-size: 1rem;
  }
  .imageContainer {
    display:none
  }
}
