.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100vw;
    max-width: 1920px;
    place-self: center;
    height:100%;
    margin-top: 50px;
    padding-bottom: 150px;
}

.imageContainer {
    width: 75%;
    height: 75%;
    position: relative;
    margin: auto;
    place-self: center;
    max-width: 600px;
}

.title {
    color: #38b6ff;
    font-weight: bold;
    font-size: 2.7rem;
    text-align: left;
    width: 90%;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 89%;
    padding: 70px 70px 70px 0px;
}

.subTitle {
    color: #00214d;
    font-weight: 300;
    font-size: 1.1rem;
    width: 80%;
    min-width: 500px;
    margin: 40px 0px 20px 0px;
    line-height: 35px;
}

.iconContainer {
    position: relative;
    width: 70px;
    height: 70px;
    margin: auto;
    place-self: center;
}

.containerSlogan {
    display: flex;
    width: 80%;
    min-width: 500px;
    justify-content: space-between;
    min-width: 500px;
    margin-top: 40px;
}

.slogan {
    color: #38b6ff;
    margin-top: 10px;
}

.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg,#ffde59 0%, #ff914d 100%);
    opacity: 0.7;
    z-index: -1;
    border-radius: 20px 20px 0px 0px;
}

.titleAvis{
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #38b6ff;
    font-weight: 600;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    margin: 50px auto auto auto;
    padding: 20px;
    place-self: center;
    position: relative;
    z-index: 1;
    height: 140px;
    overflow-y: hidden;

}

.bodyCard {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    height: auto;
    min-height: 520px;
    background-color: #fff;
    margin: auto auto 50px auto;
    place-self: center;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 30px 30px 30px;
}

.label {
    color: #5e17eb;
    font-size: 1.1rem;
    font-weight: 450;
    text-transform: uppercase;
}

.offre {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2px;
}

.description {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 10px;
}

.price {
    color: #00214d;
    font-size: 2rem;
    place-self: center;
    margin: auto
}

.info {
    color: #00214d;
    font-size: 0.8rem;
    margin: 30px 0px;
    font-weight: 600;
    text-align: center;
}

.button {
    padding: 10px 15px;
    place-self: center;
    color: #000;
    font-weight: 600;
    background-color: #ebe2d6;
    border-radius: 5px;
}

@media (max-width:1441px) {
    .title {
        font-size: 2.2rem;
    }

    .subTitle {
        font-size: 1rem;
    }

    .textContainer, .textContainerLp  {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px;
    }

}

@media (max-width:920px) {

    .header {
        margin: 50px auto auto auto;
    }

    .bodyCard {
        padding: 10px 20px 30px 20px;
    }

    .cardContainer {
        margin-top: 50px;
    }

    .container {
        grid-template-columns: 100%;
    }

    .imageContainer {
        width: 300px;
        height: 300px;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 700px;
        padding: 30px;
        place-self: center;
    }

    .title {
        font-size: 1.9rem;
        padding: 0px;
        width: 100%;
        text-align: center;
    }

    .containerSlogan {
        min-width: 250px;
        max-width: 400px;
        width: 100%
    }

    .subTitle {
        min-width: 0px;
        width: 100%;
        text-align: center;
        font-size: 1rem;
        line-height: 32px;
        margin: 30px 0px 10px 0px;
    }

    .iconContainer {
        width: 50px;
        height: 50px
    }

    .slogan {
        font-size: 0.9rem;
    }
    .bodyCard{
        margin-bottom: 100px;
    }
}